<!-- <doctor-schedule></doctor-schedule> -->
<!-- <my-calendar></my-calendar> -->
<!-- <p-growl [value]="msgs" ></p-growl> -->

<button (click)="showMsg()"></button>
<!-- 
<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            <h3>Basic</h3>
            <p-calendar [(ngModel)]="date1"></p-calendar>   {{date1}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Spanish</h3>
            <p-calendar [(ngModel)]="date2" [locale]="es"></p-calendar>   {{date2}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>ShowAnim and Icon</h3>
            <p-calendar [(ngModel)]="date3" showAnim="slideDown" [showIcon]="true"></p-calendar>   {{date3}}
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            <h3>ButtonPanel</h3>
            <p-calendar [(ngModel)]="date4" [showButtonPanel]="true"></p-calendar>   {{date4}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Navigators</h3>
            <p-calendar [(ngModel)]="date5" [monthNavigator]="true" [yearNavigator]="true"></p-calendar>   {{date5}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Multiple Months</h3>
            <p-calendar [(ngModel)]="date6" [numberOfMonths]="3"></p-calendar>   {{date6}}
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            <h3>Show Weeks-Months</h3>
            <p-calendar [(ngModel)]="date7" [showWeek]="true" [showOtherMonths]="true" [selectOtherMonths]="true"></p-calendar>   {{date7}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Restrict</h3>
            <p-calendar [(ngModel)]="date8" minDate="-1m" maxDate="+1m" [readonlyInput]="true"></p-calendar>   {{date8}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Default Date</h3>
            <p-calendar [(ngModel)]="date9" defaultDate="+1m +7d"></p-calendar>   {{date9}}
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">
            <h3>DateTime</h3>
            <p-calendar [(ngModel)]="date10" dateFormat="mm/dd/yy" timeFormat="HH:mm"></p-calendar>   {{date10}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Custom Time</h3>
            <p-calendar [(ngModel)]="date11" dateFormat="mm/dd/yy" timeFormat="hh:mm tt z" timeControlType="select" [horizontalTimeControls]="true"></p-calendar>   {{date11}}
        </div>
        
        <div class="ui-grid-col-4">
            <h3>Time Only</h3>
            <p-calendar [(ngModel)]="date12" dateFormat="mm/dd/yy" timeFormat="HH:mm:ss" [timeOnly]="true"></p-calendar>   {{date12}}
            
        </div>
    </div>
</div>

<h3>Inline</h3>
<p-calendar [(ngModel)]="date12" [inline]="true"></p-calendar>   {{date13}}


<p-calendar  [showWeek]="true" [showOtherMonths]="true" [selectOtherMonths]="true" ></p-calendar> -->
<div class="portlet box green portlet-datatable ng-scope">
    <div class="portlet-title">
        <div class="caption bold uppercase">
            <h4>Company list</h4>
            <span class="caption-subject ng-binding"></span>
            <!-- <span class="caption-helper font-yellow-lemon"></span> -->
        </div>
        <div class="actions">
            <a class="btn red-thunderbird btn-sm" (click)="newOrEditDetail()">
                New Company
            </a>
            <!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a> -->
        </div>
    </div>
    <div class="portlet-body">				
        <my-table [columns]="columns" [data]='companies' (rowClickedEvent)='newOrEditDetail($event)' ></my-table>		
    </div>
</div>
